/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.container-ratio-4x3 {
  /* background-color: gray; */
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 37.5% !important;
  padding-bottom: 37.5% !important;
  /* 4:3 Aspect Ratio */
}

.pointer {
  cursor: pointer !important;
}

.row-fluid {
  display: flex;

  /*margin-right: -15px;*/
  /*margin-left: -15px;*/

  flex-wrap: wrap;
}


.smooth-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.smooth-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.smooth-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.medium-border {
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.medium-border-top {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.medium-border-bottom {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.img-container {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.img-container img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
}